.container {
  max-width: 1200px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  place-self: center;
  gap: 20px;
  margin: 0 auto;
  height: auto;
}
.grid_1-1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  padding-bottom: 20px;
  padding-right: 30px;
}

img {
  max-width: 80%;
  height: auto;
  border-radius: 5px;
  margin: 0 auto;
}

.kranie {
  margin-top: 70px;
}

.test {
  text-decoration: none;
  padding: 10px 20px;
  background-color: rgb(61, 61, 214);
  border-radius: 20px;
  color: bisque;
}

p {
  padding-bottom: 20px;
  max-width: 700px;
  font-size: 15px;
  line-height: 1.8;
  margin-bottom: 5px;
  margin-top: 5px;
}

button {
  margin-inline-end: auto;
}
h2 {
  margin-top: 5px;
}

.box {
  border-style: double;
  border-radius: 20px;
  padding: 30px;
  background-color: rgb(191, 167, 135);
}

#top-section {
  display: grid;
  grid-template-columns: 1fr 12fr;
  align-items: center;
  gap: 1rem;
  background-color: rgb(161, 144, 123);
}
.p1 {
  color: rgb(181, 67, 56);
  margin-top: 12px;
}
.page2 {
  text-decoration: none;
  padding: 10px 20px;
  background-color: rgb(61, 61, 214);
  border-radius: 20px;
  color: bisque;
}
.page3 {
  text-decoration: none;
  padding: 10px 20px;
  background-color: rgb(61, 61, 214);
  border-radius: 20px;
  color: bisque;
}

[popover] {
  transition: 0.3s allow-discrete;
  opacity: 0;
  max-height: 80vh;
  overflow-y: auto;
  position: fixed;
}

[popover]:popover-open {
  opacity: 1;
}

@starting-style {
  [popover]:popover-open {
    opacity: 0;
  }
}

article {
  align-content: center;
}

#theme-toggle {
  --h: 2rem;
  --w: 3rem;
  font: inherit;
  appearance: none;
  background: gainsboro;
  height: var(--h);
  width: var(--w);
  border: 1px solid #000;
  cursor: pointer;
  border-radius: 9999px;
}
#theme-toggle::before {
  content: "";
  display: block;
  padding: 3px;
  height: 100%;
  aspect-ratio: 1;
  background: gray content-box;
  border-radius: inherit;
  transition: 0.3s;
}

#theme-toggle:checked::before {
  background-color: green;
  translate: calc(var(--w) - var(--h));
}

body {
  overflow-y: auto;
}
